<%= turbo_frame_tag "team_edit" do %>
 <div class="modal open">
   <%= link_to "✕", teams_path ,style:"float: right; color: red; font-weight: bold;" %>
   <h1><%= t(".heading") %></h1>

   <%= render "form", team: @team %>
 </div>
<% end %>