<% content_for :title, t(".title") %>

<h1><%= t(".heading") %></h1>

<%= render "form", team: @team %>

<br>

<div>
  <%= link_to t(".show"), @team %> |
  <%= link_to t(".back"), teams_path %>
</div>
