<% content_for :title, t(".title") %>

<h1><%= t(".heading") %></h1>

<div id="teams">
  <% @teams.each do |team| %>
    <%= render team %>
    <p>
      <%= link_to t(".show"), team %>
    </p>
  <% end %>
</div>

<%= link_to t(".new"), new_team_path %>
