<% content_for :title, t(".title") %>

<h1><%= t(".heading") %></h1>

<div id="teams">
  <% @teams.each do |team| %>
    <%= render team %>
  <% end %>
</div>

<%= turbo_frame_tag "new_team" do %>
<%= link_to t(".new"), new_team_path ,class: "flex-btn" %>
<% end %>