<%= stylesheet_link_tag "static/how_to_use" %>

<%= render "how_to_use_header" %>

<div class="how-to-use-container">
  <h1>シフト作成</h1>
  <p>シフトの作成方法について説明します。</p>
  <!-- コンテンツは後で追加 -->
</div>
