<%= stylesheet_link_tag "static/how_to_use" %>

<%= render "how_to_use_header" %>

<div class="how-to-use-container">
  <h1>ログイン方法</h1>
  <p>ログインの手順について説明します。</p>
  <!-- コンテンツは後で追加 -->
</div>
