<% content_for :head do %>
  <%= stylesheet_link_tag "static/how_to_use", "data-turbo-track": "dynamic" %>
<% end %>

<%= render "how_to_use_header" %>

<div class="how-to-use-container">
  <h1>登録方法</h1>
  <p>アカウントの登録手順について説明します。</p>
  <!-- コンテンツは後で追加 -->
</div>
