body {
    display: grid;
    grid-template-rows: auto auto 20rem auto auto auto auto auto 20rem auto auto auto auto;
    grid-template-columns: 100%;
}
.header {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}
.title {
    width: 100%;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}
.shifts_img {
    position: relative;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    transform: translateX(-10%);
    margin-top: 7rem;

    background: url("shifts.png");
    background-size: 100% 100%;
    max-width: 30rem;


    border: solid 4px #333333;
    border-radius: 10px;
}
    .client_need_img {
    width: 60%;
    position: absolute;
    top: 84%;
    left: 49%;
    border: solid 2px #333333;
    border-radius: 10px;
    }
    
.home_text {
    font-size: 1.8rem;
    margin-top: 5rem;
    margin-left: 2rem;
    font-weight: bold;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
}
.home_text2 {
    font-size: 1.8rem;
    margin-left: 2.5rem;
    font-weight: bold;
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 2;
    
}
.work_statuses_img {
    width: 70%;
    border: solid 4px #333333;
    margin-top: 7rem;
    margin-left: auto;
    border-radius: 10px;

    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 2;

}
.home_text3 {
    font-size: 1.8rem;
    margin-top: 1rem;
    margin-left: 3rem;
    font-weight: bold;
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 1;
    grid-column-end: 2;
}   
.home_text4 {
    font-size: 1.8rem;
    margin-left: 7rem;
    font-weight: bold;
    grid-row-start: 8;
    grid-row-end: 9;
    grid-column-start: 1;
    grid-column-end: 2;
}   
.employee_img {
    position: relative;
    width: 80%;
    border: solid 4px #333333;
    margin-top: 7rem;
    border-radius: 10px;

    background: url("employee.png");
    background-size: 100% 80%;
    max-width: 30rem;

    grid-row-start: 9;
    grid-row-end: 10;
    grid-column-start: 1;
    grid-column-end: 2;
    transform: translateX(-10%);
}
.pointer_img {
    position: absolute;
    top: 7%;
    left: 89%;
    width: 19%;
    transform: rotate(-35deg);
}
.home_text5 {
    font-size: 1.8rem;
    margin-top: 1rem;
    margin-left: 1rem;
    font-weight: bold;
    grid-row-start: 10;
    grid-row-end: 11;
    grid-column-start: 1;
    grid-column-end: 2;
}
.home_text6 {
    font-size: 1.8rem;
    margin-left: 2rem;
    font-weight: bold;
    grid-row-start: 11;
    grid-row-end: 12;
    grid-column-start: 1;
    grid-column-end: 2;
}   
.footer_title {
    grid-row-start: 12;
    grid-row-end: 13;
    grid-column-start: 1;
    grid-column-end: 2;
    width: 100%;
    margin-top: 7rem;
}

.footer {
    grid-row-start: 13;
    grid-row-end: 14;
    grid-column-start: 1;
    grid-column-end: 2;
    width: 100%;
    margin: 1rem 0;
}

.fadein {
  opacity: 0;
  transform: translateY(20px); 
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.fadein.visible {
  opacity: 1;
  transform: translateY(0); 
}

@media (min-width: 450px) {
    
body {
    grid-template-rows: auto auto 20rem auto 20rem auto auto;
    grid-template-columns: 1fr 0.5fr 1fr;
}
.header {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
}
.title {
    width: 100%;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
}
.shifts_img {
    position: relative;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    transform: translateX(-10%);

    background: url("shifts.png");
    background-size: 100% 100%;
    max-width: 30rem;


    border: solid 4px #333333;
    border-radius: 10px;
}
    .client_need_img {
    width: 60%;
    position: absolute;
    top: 84%;
    left: 49%;
    border: solid 2px #333333;
    border-radius: 10px;
    }
    
.home_text {
    font-size: 1.8rem;
    margin-top: 9rem;
    margin-left: 0;
    font-weight: bold;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
}
.home_text2 {
    font-size: 1.8rem;
    margin-top: 11rem;
    margin-left: 0 ;
    font-weight: bold;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
    
}
.work_statuses_img {
    width: 90%;
    border: solid 4px #333333;
    margin-top: 7rem;
    border-radius: 10px;

    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 4;
    transform: translateX(20%);

}
.home_text3 {
    font-size: 1.8rem;
    margin-top: 15rem;
    margin-left: 10%;
    font-weight: bold;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
}   
.home_text4 {
    font-size: 1.8rem;
    margin-left: 12%;
    margin-top: 17rem;
    font-weight: bold;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
}   
.employee_img {
    position: relative;
    width: 100%;
    border: solid 4px #333333;
    margin-top: 3rem;
    border-radius: 10px;

    background: url("employee.png");
    background-size: 100% 100%;
    max-width: 30rem;

    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 3;
    transform: translateX(-10%);
}
.pointer_img {
    position: absolute;
    top: 7%;
    left: 89%;
    width: 19%;
    transform: rotate(-35deg);
}
.home_text5 {
    font-size: 1.8rem;
    margin-top: 10rem;
    margin-left: 1rem;
    font-weight: bold;
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 3;
    grid-column-end: 4;
}
.home_text6 {
    font-size: 1.8rem;
    margin-left: 2rem;
    margin-top: 12rem;
    font-weight: bold;
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 3;
    grid-column-end: 4;
}   
.footer_title {
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 4;
    width: 100%;
    margin-top: 7rem;
}

.footer {
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 1;
    grid-column-end: 4;
    width: 100%;
    margin: 1rem 0;
}
}