<% content_for :title, t(".title") %>

<%= link_to team_client_shifts_path(@office.teams.first, @office.clients.first) do %>
 <%= image_tag "back-btn.png", alt: t(".shifts"), class: "back-image" %>
<% end %>

<h1><%= t(".heading") %></h1>

<%= render "form", office: @office %>
