<% content_for :title, t(".title") %>

<h1><%= t(".heading") %></h1>

<%= render "form", office: @office %>

<div class="flexbox">
  <%= link_to t(".back_to_home"), root_path ,class: "flex-btn"%>
</div>
