<% content_for :title, t(".title") %>

<h1><%= t(".heading") %></h1>

<div id="user_clients">
  <% @user_clients.each do |user_client| %>
    <%= render user_client %>
    <p>
      <%= link_to t(".show"), user_client %>
    </p>
  <% end %>
</div>

<%= link_to t(".new"), new_user_client_path %>
