<%= link_to rooms_path, class: local_assigns[:css_class], id: "nav_chat_link" do %>
  <% if user.has_unread_messages? %>
    <span style="color: var(--accent-color); margin-right: 5px;">●</span>
  <% end %>
  チャット
<% end %>
