<% content_for :title, t(".title") %>

<h1><%= t(".heading") %></h1>

<%= render "form", shift: @shift %>

<br>

<div class="flexbox">
  <%= link_to t(".show"), @shift ,class: "flex-btn" %> |
  <%= link_to t(".back"), shifts_path ,class: "flex-btn" %>
</div>
