<% content_for :title, t(".title") %>

<h1><%= t(".heading") %></h1>

<%= render "form", shift: @shift %>

<br>

<div class="flexbox">
  <%= link_to t(".back"), team_client_shifts_path(@team, @client) ,class: "flex-btn" %>
  <%= button_to t(".destroy"), team_client_shift_path(@team, @client, @shift), method: :delete , class: "flex-btn" %>
</div>
