.card {
    background-color: #fff;
    border: solid 0.1rem #000000;
    border-radius: 8px;
    padding: 16px;
    margin: 1rem;
    }

.toggle-switch {
    display: inline-flex; 
    border: 2px solid #666666; 
    border-radius: 30px; 
    overflow: hidden; 
}

.toggle-selected {
    padding: 8px 18px; 
    text-decoration: none; 
    color: #333333; 
    background: #FFF8F0;
     display: inline-block;
      font-weight: 500; 
}

.toggle-selected.active {
    background: #4CAF50; 
    color: #FFF8F0; 
}

.toggle-selected:not(.active):hover { 
    background: #eef2ff; 
    color: #111827; 
}