<p>こんにちは <%= @email %> さん！</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>ご利用のメールアドレスを <%= @resource.unconfirmed_email %> に変更する手続き中です。</p>
<% else %>
  <p>ご利用のメールアドレスは <%= @resource.email %> に変更されました。</p>
<% end %>
