/*JSで操作する部分はcontent_forで差し込んだ方が安定する*/
.modal{
    display:none;
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    background: #fefdf8;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 1em;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.open {
    display: block;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
}

.shift {
  background: #F19494;
  margin: 0.2em;
  padding: 0.2em;
  border-radius: 0 6px 0 0;
  border-left: solid 4px #E35B5B;
  font-size: 0.5rem;
  text-align: left;
  color: #333333;
}

/* Shiftの色説明 */
.shift.ex{
  font-size: 1em;
}
.shift.ex-night {
  background: #B4E2FF;
  border-left: solid 4px #69C5FF;
  font-size: 1em;
}
.shift.ex-escort {
  background: #C8F7C5;
  border-left: solid 4px #4CAF50;
  font-size: 1em;
}
.shift.ex-nil {
  background: #E0E0E0;
  border-left: solid 4px #A0A0A0;
  font-size: 1em;
}

.night {
  color: #333333;
  border-left: solid 4px #69C5FF;
  background: #B4E2FF;
}

.escort {
  color: #333333;
  border-left: solid 4px #4CAF50;
  background: #C8F7C5;
}


.nil {
  color: #333333;
  background: #E0E0E0;
}

.calendar {
  width: 95%;
  margin: 0 auto;
  text-align: center;
  display: grid;
  height: 95vh;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1.5em repeat(6, 1fr);
}

.today {
  color: rgb(0, 167, 250);
  border-radius: 4px;
}

.week {
  font-weight: bold;
}

.day{
  border: 1px dashed #aeaeaeff;
  padding: .5em 0;
  background-color: #ffFFF8F0;
}

.back-btn {
  font-size: 1.5rem;
  color:#E35B5B;
  font-weight: bold;
  float: right;
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}