
.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
}

/* Shiftの色説明 */
.shift-ex{
  background: #F19494;
  margin: 0.2em;
  padding: 0 0.3rem;
  border-radius: 0 6px 0 0;
  border-left: solid 4px #E35B5B;
  font-size: 1em;
  text-align: left;
}
.shift-ex-night {
  background: #B4E2FF;
  margin: 0.2em;
  padding: 0 0.3rem;
  border-radius: 0 6px 0 0;
  border-left: solid 4px #69C5FF;
  font-size: 1em;
  text-align: left;
}
.shift-ex-escort {
  background: #C8F7C5;
  margin: 0.4em;
  padding: 0 0.3rem;
  border-radius: 0 6px 0 0;
  border-left: solid 4px #4CAF50;
  font-size: 1em;
  text-align: left;
}
.shift-ex-nil {
  background: #E0E0E0;
  margin: 0.2em;
  padding: 0 0.3rem;
  border-radius: 0 6px 0 0;
  border-left: solid 4px #A0A0A0;
  font-size: 1em;
  text-align: left;
}

.calendar {
  width: 95%;
  margin: 0 auto;
  text-align: center;
  display: grid;
  height: 95vh;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1.5em repeat(6, 1fr);
}

.today {
  color: rgb(0, 167, 250);
  border-radius: 4px;
}

.week {
  font-weight: bold;
}

.day{
  border: 1px dashed #aeaeaeff;
  padding: .5em 0;
  background-color: #ffFFF8F0;
}

.shift {
  background: #F19494;
  margin: 0.2em;
  padding: 0.2em;
  border-radius: 0 4px 0 0;
  border-left: solid 4px #E35B5B;
  font-size: 0.5rem;
  text-align: left;
  color: #333333;
}
.night {
  color: #333333;
  border-left: solid 4px #69C5FF;
  background: #B4E2FF;
}

.escort {
  color: #333333;
  border-left: solid 4px #4CAF50;
  background: #C8F7C5;
}


.nil {
  color: #333333;
  background: #E0E0E0;
}

.back-btn {
  font-size: 1.5rem;
  color:#E35B5B;
  font-weight: bold;
  float: right;
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}