* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  text-decoration: none;
}
html{
  font-size: 100%;
  background-color: #fefdf8;
}

/* スマホ〜タブレット */
@media (min-width: 644px) {
  html {
    font-size: 125%;
  }
}


/* PC以上 */
@media (min-width: 1024px) {
  html {
    font-size: 130%;
  }
}
body {
  position: relative;
}

a{
  color: inherit;
}

hr{
  border: none;
  background-color: black;
  height: 2px;
  margin: 0.5rem 1rem;
  border-radius: 50%;
}