* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  text-decoration: none;
}
html{
  font-size: 100%;
  background-color: #fefdf8;
}
html {
  position: relative;
  background-color: #FFF8F0;
  background: url("background-mobile.jpg") center/cover repeat-y;
  background-size: 100%;
}

h1,h2,h3,h4,h5,h6{
  text-align: center;
}
label{
  text-align: center;
  display:block;
}
a{
  color: inherit;
  font-size: 0.8rem;
}

hr{
  border: none;
  background-color: black;
  height: 2px;
  margin: 0.5rem 1rem;
  border-radius: 50%;
}
button{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

input:not([type="submit"]), select, textarea {
    padding: 0.2em;
    border: 0.2rem solid #333333;
    border-radius: 4px;
    margin: 0 0.5rem 0.5rem 0.5rem;
    box-sizing: border-box;
    width: calc(100% - 1rem);
}

input[type="submit"] {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.4em 0.2em;
    border: 2px solid #333333;
    border-radius: 30px;
    cursor: pointer;
    background: white;
    transition: all 0.2s;
    height: 40px;
    box-shadow: 2px 3px rgba(2, 2, 2, 0.188);
}

.flexbox {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

.flex-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.4em 0.2em;
    border: 2px solid #333333;
    border-radius: 30px;
    cursor: pointer;
    background: white;
    transition: all 0.2s;
    height: 40px;
    box-shadow: 2px 3px rgba(2, 2, 2, 0.188);
    margin: 0.1rem;
    font-size: 0.8rem;
}

.flex-btn:hover {
    background: #F19494;
}

.card {
    background-color: #fff;
    border: solid 0.1rem #000000;
    border-radius: 8px;
    padding: 16px;
    margin: 1rem;
    }

.modal{
    display:none;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    background: #fefdf8;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 1em;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}
.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
}

.open {
    display: block;
}
.pc-nav {
    display: none;
}

/* タブレット＆PC用 */
@media (min-width: 380px) {
  html {
    font-size: 125%;
    background-color: #FFF8F0;
    background: url("background.jpg") center top repeat-y;
    background-size: 100%;
  }
  .pc-nav {
    display: flex;
  }
}