<div id="<%= dom_id user_need %>">
    <%= l user_need.start_time %>
    <strong>～</strong>
    <%= l user_need.end_time %>
    <br>

  <%= button_to "Delete", team_user_user_need_path(user_need.user.team_id, user_need.user_id, user_need), method: :delete, form: { data: { turbo_confirm: "消去しますか?" } }, class: "flex-btn" %>

</div>
