<% content_for :title, "Editing user need" %>

<h1>Editing user need</h1>

<%= render "form", user_need: @user_need %>

<br>

<div>
  <%= link_to "Show this user need", @user_need %> |
  <%= link_to "Back to user needs", user_needs_path %>
</div>
