<%= turbo_frame_tag "new_user_need" do %>

<div class="flexbox">
  <%= link_to "閉じる", team_user_user_needs_path(@team, @user) ,class: "flex-btn"%>
</div>

<h1><%= t(".heading") %></h1>

<%= render "form", user_need: @user_need %>

<% end %>
